*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.topo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topo p{
    color: #75B79E;
    font-weight: 700 ;
    font-size: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.carta_container{
    display: flex;
    flex-wrap: wrap;
   
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left:100px;
    margin-right: 100px;
}

.carta{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    margin-right: 34px;
    transition: all 2s;
    transform-style: preserve-3d;

    

}
.flip{
    transform: rotateY(180deg);
    
}

.frente{
    position: absolute;
    backface-visibility: hidden;
   
}

.verso{
    position: relative;
     
}


img{
    width: 100px;
    height: 100px;
}
@media screen and (max-width:355px){

    .carta_container{
        margin: 0 122px;
        display: flex;
        flex-direction: column;

    }
    
}